.rent{
    color: #9B3C51;
}
.rent-text, .title{
    color: #33325E;;
}
.rent-text{
    margin-top: 20px;
}
.imgCar{
    margin-top: 120px;
    width: 500px;
    height: 400px;
}
.block_imgCar{
    text-align: center;
}
.carousel-block{
    z-index: 0;
}