.loading{
    color: #172114;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    width: 300px;
    margin: 100px auto 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
.button{
    background-color: #11314F;
    color: white;
}
.a{
    color: white;
    text-decoration: none;
}
.a:hover{
    color: inherit;
}
